* {margin: 0; padding: 0; }
body {font-family: Arial, Helvetica, Sans-serif; }
header {display: block;  background-color: #3cbc8d; padding: 20px; border-bottom: 5px solid #757575;}
h1 {font-weight: normal; padding: 1.5em; color: white; text-shadow: 1px 1px 0px #444; width: 1000px; margin: auto;}

nav {background-color: #443A5C;}

nav a {color: white; text-decoration: none;}
nav a:hover {color: #ddd;}
nav ul {display: table; width: 1000px; margin: auto;}
nav li {display: table-cell; text-align: center; padding: 1em;}

main {overflow: auto; min-height: 30vh; background-color: #f7f7f7; width: 1000px; margin: auto; box-shadow: -1000px 0 0 #f7f7f7, 1000px 0 0 #f7f7f7; padding-top: 20px;}

footer {padding: 1em; background-color: #FFC9A7 ; font-size: 0.8em;}

p {margin-bottom: 1em;}

body {font-size: 1.2em; font-family: arial, helvetica, sans-serif}
input, label, select, textarea { width: 15em; margin-bottom: 1em;  padding: 0.5em;}
label {clear: left; padding: 0; margin: 0;}
input[type="submit"] {background-color: #FFC9A7; border: none ;margin-left: 15em; width: auto; padding: 0.4em 0.5em; clear: both; font-size: .7em;}
form {; clear: both; display: block;}
.flex{
    display: flex;
    align-items: center;
    align-content: center;
    width: 80%;
    margin: auto;
}
.flex-child{
    flex-shrink: 1;
}
#edit{
    margin-left: 2em;
    background-color: rgb(91, 250, 170); 
    border: none ;
    width: auto; 
    padding: 0.4em 0.5em;
    font-size: .7em;
    color: rgb(37, 37, 37);
    text-decoration: none;
}